@model Shauli_Blog.Models.Post

@using System.Globalization

@{
    ViewBag.Title = "Manage Comments";
}

<h2>Manage Comments</h2>


<!-- Search section -->
@{
    /*
     * Initialize ViewBag.commentList with all the comments of this post.
     * Will be changed by FilterComments method after filtering comments.
     */
    ViewBag.commentList = Model.Comments;
}
<div id="CommentList">
    @Html.Partial("_CommentList")
</div>
<p> </p>
<p>
    <!--Html.ActionLink("Back to Admin View", "Admin")-->
</p>